- if !@catalogs.empty?
  %table
    %thead
      %tr
        %th Nombre
        %th Descripción
        %th Fecha
        %th Tipo Cambio

    %tbody
      - @catalogs.each do |catalog|
        %tr
          %td= catalog.nombre
          %td= truncate catalog.desc, length: 30
          %td= catalog.fecha
          %td= catalog.tipo_camb
          %td
            %a.tooltipped{ href: catalog_path(catalog), data: {position: 'bottom', tooltip: 'Ver'} }
              %i.material-icons visibility
          %td
            %a.tooltipped{ href: edit_catalog_path(catalog), data: {position: 'bottom', tooltip: 'Editar'} }
              %i.material-icons edit
          %td
            %a.tooltipped{ href: catalog_path(catalog), :method => :delete, :data => { :confirm => 'Are you sure?', position: 'bottom', tooltip: 'Eliminar' }}
              %i.material-icons delete
- else
  %h2.center No hay registros
  %h1.center
    %i.material-icons.big-icon.cyan-text class


.fixed-action-btn.fab-style
  %a.btn-floating.btn-large.cyan.accent-3.waves-effect.waves-light{ href: new_catalog_path }
    %i.material-icons add
