- if !@clients.empty?
  %table.highlight
    %thead
      %tr
        %th Clave
        %th Nombre
    %tbody
      - @clients.each do |client|
        %tr
          %td= client.id
          %td
            %a.tooltipped{ href: client_path(client), data: {position: 'bottom', tooltip: 'Ver'} }
              =client.nombre
          %td
            %a.tooltipped{ href: edit_client_path(client), data: {position: 'bottom', tooltip: 'Editar'} }
              %i.material-icons.blue-grey-text edit
          %td
            %a.tooltipped.delete-client{ href: '#', 'data-cid' => client.id, 'data-title' => client.nombre, data: {position: 'bottom', tooltip: 'Eliminar'} }
              %i.material-icons.blue-grey-text delete
- else
  %h2.center No hay registros
  %h1.center
    %i.material-icons.big-icon.teal-text face

.fixed-action-btn.fab-style
  %a.btn-floating.btn-large.cyan.accent-3.waves-effect.waves-light{ href: new_client_path }
    %i.material-icons add

  -# Modal
.modal#delete_modal
  .modal-content
    %h3#modalheader
    %p.flow-text ¿Seguro que desea eliminarlo?
  .modal-footer
    %a.btn-flat.waves-effect.waves-red#delete_client Eliminar
    %a.btn-flat.waves-effect.modal-close Cancelar