%h1 Listing existences

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @existences.each do |existence|
      %tr
        %td= link_to 'Show', existence
        %td= link_to 'Edit', edit_existence_path(existence)
        %td= link_to 'Destroy', existence, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Existence', new_existence_path
