.container
  .row
    .col.l6.s12
      %h5.white-text CTT: Exp & Rentals.
      %p.grey-text.text-lighten-4 Guadalupe I. Ramírez 763, Santa María Tepepán, Xochimilco. C.P.16020, Distrito Federal.
    .col.l4.offset-l2.s12
      %h5.white-text Enlaces
      %ul
        %li
          %a.grey-text.text-lighten-3{:href => "http://www.cttrentals.com/"} Página Web
.footer-copyright
  .container
    © #{Time.now.year} Made with ♥
    %a.grey-text.text-lighten-4.right{:href => "#!"} Más enlaces