%header
  .navbar-fixed
    %nav
      .nav-wrapper
        %ul#slide-out.side-nav.fixed
          %li
            %a.waves-effect.waves-teal{ href: '#'}
              Dashboard
        %a.button-collapse{ href: '#', "data-activates" => 'slide-out'}
          %i.material-icons menu